.preview-div {
  height: 200px;
  text-align: center;
  background: rgb(250, 10, 0);
  /*background: rgb(143, 143, 143);*/
}

.champ-img {
  width: 100px;
  padding-top: 50px;
}

.item-img {
  padding: 2px;
  padding-top: 50px;
}
