.btn-outer-div {
  text-align: center;
  padding: 20px;
  background: rgb(255, 255, 255);
}

.left-button-group {
  padding-right: 10px;
  display: inline-block;
}

.right-button-group {
  padding-left: 10px;
  display: inline-block;
}
